<!-- 
<div class="row p-3 h-100 m-5 text-center">
   <div class="col-4">
      <app-counter [count]="counter" [titleChange]="apptitle"></app-counter>
   </div>

   <div class="col-4">
      <app-getter-setter [titleChange]="apptitle"></app-getter-setter>
   </div>

   <div class="col-4">
      <app-child-parent (dataEvent)="dataReceived($event)">
      </app-child-parent>
      <div class="bg-primary" *ngIf="receivedDataFromChild">
         {{receivedDataFromChild}}
      </div>
   </div>
   
   <app-card class="col-4">
      <p>This para will be placed at default position</p>
      <p body>This is placed in the first card comp body</p>
      <p title>This is placed in the first card comp title</p>
   </app-card>

   <app-card class="col-4">
      <p body>This is placed in the second card comp body</p>
      <p title>This is placed in the second card comp title</p>
      <p>This para will be placed at default position</p>
   </app-card>
   <app-hover-click class="col-4"></app-hover-click>

   <div class="col-4">
      <app-ngfor></app-ngfor>
   </div>

   <app-lifecycle-hooks class="col-4" [title]="life"></app-lifecycle-hooks>
</div>
 -->

<!-- 
 <div class="text-center">
   <h1>Angular Hooks</h1>
   <div>
      <button (click)="increment()">Increment</button>
      <button (click)="decrement()">Decrement</button>
   </div>

   <app-counter [myCounter]="counter"></app-counter>
 </div> -->

<!-- 
 <div>
   <app-lifecycle-hooks></app-lifecycle-hooks>
 </div> -->
 
<!--  
 -----------ROUTING-------------------
 <nav class="navbar">
   <ul class="navbar-links me-auto mb-2 mb-lg-0 ">
      <li class="nav-item">
         <a class="nav-link" [routerLink]="'/counter'">Counter</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" [routerLink]="'/hooks'">Hooks</a>
       </li>
   </ul>
 </nav>
 
<router-outlet/> -->
<!-- 
<div>
   <app-tasks></app-tasks>
</div> -->

<!-- ---------Lazy load------------ -->
<!-- <div>
   <ng-container *ngComponentOutlet="LazyLoadComp"></ng-container>
</div> -->

<!-- ----------- checking change detection---------- -->
 <div>
   <app-default></app-default>
   <app-on-push></app-on-push>
 </div>